<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Trend</title>
</head>
<body>
    <h1>Google trend</h1>
    <form action="" method="GET">
        {% csrf_token %}
        <div>Choose type of Trend:
            {{ form.GG_Trend_Type }}
            </div>
        <div>Keyword find:
            {{ form.Keyword_List }}
            </div>

    <button type="submit">Find</button>

        <h3>Note</h3>
        <p>Related Queries, Related Topics: 1 keyword only</p>
        <p>interest over time, gg keyword suggestions, Interest by Region: Maximum 5 keyword, separated by commas (,)</p>
        <p>Google Hot Trends data: Country name (lowercase)</p>
        <p>Google Hot Trends today search: US (default)</p>
        <p>Google Top Charts: GLOBAL (default)</p>

    </form>
</body>
</html>